@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 0;
    width: 100%;
}  

.webheader{
    padding: 20px;
    background-color: #dbd9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px; 
}

.webheader .brand{
    display: flex;
    flex-direction: row;   
}

.webheader .logo img{
    min-height: 30px;
    max-height: 40px;
    width: auto; 
}

.webheader .nav{
    align-items: center;
    margin-left: auto;
}

.webheader .nav button{
    background-color: rgb(0, 251, 255);
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    min-height: 30px;
    max-height: 40px;
    width: auto;
    padding: 0 20px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.webheader .nav button:hover{
    background-color: darkblue;
    color: rgb(0, 251, 255);
    scale: 1.05;
    transition: color 0.5s ease-in-out;
}
/*Section*/
.section1{
    display: block;
}
/* Card Search Section */
.card-search{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    background-color: #f5f5f5;
}

.card-search input[type="text"]{
    width: 50%;
    height: 50px;
    padding: 12px 10px;
    border: 4px solid blue;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(201, 251, 250);
    color: darkblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: scale 0.5s ease-in-out;
}

.card-search input[type="text"]::placeholder{
    color: darkblue;
    font-weight: 500;
}

.card-search input[type="text"]:focus{
    outline: none;
    border-color: darkblue;
    box-shadow: 0 0 8px rgba(0, 251, 255, 0.6);
}

.card-search input[type="text"]:focus::placeholder{
    color: rgb(222, 222, 244);
    font-weight: 200;
}

.card-search input[type="text"]:hover{
    scale: 1.02;
    transition: scale 0.5s ease-in-out;
}
/* End of Card Search Section */
.card-search button{
    background-color: darkblue ;
    color: rgb(0, 251, 255);
    border: 2px solid rgb(0, 251, 255);
    border-radius: 5px;
    height: 50px;
    width: auto;
    padding: 12px 10px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    margin-left: 40px;
}

/*Tu van*/
.section2{
    display: flex;
    justify-content: center;
    background-color: #fbf9f9;
}
.TuVan{
    display: block;
    width: 60%;
}

.TuVan .titleTuVan{
    font-size: 28px;
    color: darkblue;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
}

.videoCall-frame{
    display: block;
    padding: 5%;
    margin: auto;
    width: 80%;
    height: 400px;
    background-color: rgb(95, 95, 95);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.videoCall-frame .videoCall-placeholder{
    background-color: black;
    width: 90%;
    height: 85%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.videoCall-controls{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.videoCall-controls button{
    background-color: rgb(0, 251, 255);
    color: darkblue;
    border: 2px solid rgb(0, 251, 255);
    border-radius: 4px;
    height: 50px;
    width: 250px;
    padding: 5px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    margin: 0 15px;
}

/*Tu van online*/

.TuVan-container{
    display: flex;
    margin-top: 20px;
}

.uploadTuVan{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px 5px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    align-items: center;
    min-height: 250px;
    max-height: 280px;
}

.uploadTuVan h3{
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
}

.uploadTuVan input[type="file"]{
    background-color: rgb(201, 251, 250);
    font-size: 16px;
    width: 80%;
    margin: 20px auto;
}

.uploadTuVan button{
    background-color: rgb(0, 251, 255);
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    min-height: 30px;
    max-height: 40px;
    
    padding: 0 20px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.uploadTuVan button:hover{
    background-color: darkblue;
    color: rgb(0, 251, 255);
    scale: 1.05;
    transition: color 0.5s ease-in-out;
}

.uploadTuVan input[type="file"]::file-selector-button{
    background-color: darkblue ;
    color: rgb(0, 251, 255);
    border: 2px solid rgb(0, 251, 255);
    border-radius: 5px;
    height: 40px;
    width: auto;
    padding: 10px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    margin-right: 10px;
}


.TuVan-online h3{
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
}

.TuVan-online .chat-window{
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    height: 80%;
    overflow-y: scroll;
    margin-bottom: 5px;
}

.chat-window .message{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
}

.chat-window .message-doctor-message{
    background-color: #e0f7fa;
    border-radius: 10px;
    color: #006064;
    align-self: flex-start;
    padding: 10px;
    font-size: 16px;
    float: left;
    margin: 2px;
}

.chat-window .message-patient-message{
    background-color: #68fff7;
    border-radius: 10px;
    color: #000d53;
    align-self: flex-start;
    padding: 10px;
    font-size: 16px;
    float: right;
    margin: 2px;
}

.chat-window input[type="text"]{
    width: 70%;
    height: 40px;
    padding: 12px 10px;
    border: 4px solid blue;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(201, 251, 250);
    color: darkblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: scale 0.5s ease-in-out;
    margin-top: 5px;
}

.chat-window input[type="text"]::placeholder{
    color: darkblue;
    font-weight: 300;
}

.chat-window input[type="text"]:focus{
    outline: none;
    border-color: darkblue;
    box-shadow: 0 0 8px rgba(0, 251, 255, 0.6);
}

.chat-window input[type="text"]:focus::placeholder{
    color: rgb(222, 222, 244);
    font-weight: 200;
}

.chat-window input[type="text"]:hover{
    scale: 1.02;
    transition: scale 0.5s ease-in-out;
}

.chat-window button{
    background-color: darkblue ;
    color: rgb(0, 251, 255);
    border: 2px solid rgb(0, 251, 255);
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    margin-left: 20px;
    margin-top: 5px;
}

aside{
    display: block;
    width: 40%;
}

aside .doctor-info{
    display: flex;
    flex-flow: row wrap;   
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}

aside img{
    display: block;
    border-radius: 10%;
    min-height: 120px;
    max-height: 150px;
    width: 150px;
    object-fit: cover;
    margin: auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside .doctor-details{
    margin-left: 20px;
    align-self: center;
    min-height: 120px;
    max-height: 150px;
}

aside button{
    background-color: rgb(0, 251, 255);
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    min-height: 30px;
    max-height: 40px;
    width: auto;
    padding: 0 20px;
    font-size: 16px;
    scale: 1;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    margin-top: 10px;
}
.rate-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(135, 253, 255);
    margin-top: 40px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    min-height: 150px;
    max-height: 200px;
    width: 100%;
}

.rate-us h3{
    color: darkblue;
    margin-bottom: 10px;
    font-size: 20px;
}

.rate-us .stars{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
footer{
    padding: 20px;
    background-color: #dbd9d9;
}

footer .footer-content{
    text-align: center;
    color: darkblue;
}

footer .social-media a{
    color: darkblue;
    margin: 0 10px;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}